{
  "parserOptions": {"ecmaVersion": 9},
  "env": {
    "browser": true,
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "el"
    }
  },
  rules: {
    "eol-last": 0,
    "no-shadow": 0,
    "no-param-reassign": 0,
    "react/prop-types": "off",
    "arrow-parens": "as-needed"
    "react/no-string-refs": "off"
  }
}
